* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* header section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 180px 50px 160px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
}

.list {
    display: flex;
    gap: 45px;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

/* Banner section styles */
.banner {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 180px 50px 160px;
    text-align: center;


}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 33px;



}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 33px;
    padding: 0 80px;


}

.primary-button {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;

}

.banner-image {
    width: 100%;
}

/* Team section styles */

.team {
    display: flex;
    gap: 80px;
    align-items: center;
    padding: 50px 190px 50px 180px;
    justify-content: space-between;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    width: 50%;
}

.team-image {
    width: 242px;
    height: 242px;
}



.feature-heading {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.first-color {
    color: #727272;

}

.second-color {
    color: #131313;
}

.third-color {
    color: #FF900E;
}

.feature-description {
    color: #727272;
    margin-bottom: 24px;
}